<h1 id="pic"><span>Welcome To Giftgarage</span> </h1>
<h2 id="pic"><span>Gifting Made Easy</span></h2><br>








<body id="background">

</body>













<div id="welcome" class="font"><%= link_to 'Create a Special Occasion', new_special_occasion_path, class:"btn btn-default" %></div><br>
<div id="welcome" class="font"><%= link_to 'Add New Recipient', new_recipient_path, class:"btn btn-default" %></div><br>
<div id="welcome" class="font"><%= link_to 'Add Gift Purchased', new_gift_given_path, class:"btn btn-default" %></div><br>
<div id="welcome" class="font"><%= link_to 'View Gifts Purchased', gift_givens_path, class:"btn btn-default" %></div><br>
