<center><h1 id="pic">Welcome To Giftgarage </h1></center>
<center><h2 id="pic">Gifting Made Easy</h2></center>



<body id="background">

</body>













<div id="welcome"><%= link_to 'Create a Special Occasion', new_special_occasion_path, class:"btn btn-primary" %></div><br>
<div id="welcome"><%= link_to 'New Recipients', new_recipient_path, class:"btn btn-warning" %></div><br>
<div id="welcome"><%= link_to 'Gifts Purchased', new_gift_given_path, class:"btn btn-info" %><br></div>
