<center><h1 id="pic">Welcome To Giftgarage </h1></center>
<center><h2 id="pic">Gifting Made Easy</h2></center>








<body id="background">

</body>













<div id="welcome" class="font"><%= link_to 'Create a Special Occasion', new_special_occasion_path, class:"btn btn-default" %></div><br>
<div id="welcome" class="font"><%= link_to 'Add New Recipient', new_recipient_path, class:"btn btn-default" %></div><br>
<div id="welcome" class="font"><%= link_to 'Include Gift Purchased', new_gift_given_path, class:"btn btn-default" %><br></div>
