<p id="notice"><%= notice %></p>

<p>
  <strong class="font">Name:</strong>
  <%= @special_occasion.name %>
</p>

<%= link_to 'Edit', edit_special_occasion_path(@special_occasion) %> |
<%= link_to 'Back', special_occasions_path %>
