// Place all the styles related to the Session controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#background {
  background: url('https://d3mlfyygrfdi2i.cloudfront.net/dbe5/restore-elsewhere.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

h1, h2#pic {
  span {
    background-color: #d3d3d3;
    padding: 5px;
  }
color: #0066cc;

  font-family: 'Poiret One', cursive;
  text-align: center;
}

div#welcome{
  text-align: center;
}
